
@{
    ViewData["Title"] = "PeopleDirectory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contentpanel">
      
<ul class="letter-list">
    <li><a href="">a</a></li>
    <li><a href="">b</a></li>
    <li><a href="">c</a></li>
    <li><a href="">d</a></li>
    <li><a href="">e</a></li>
    <li><a href="">f</a></li>
    <li><a href="">g</a></li>
    <li><a href="">h</a></li>
    <li><a href="">i</a></li>
    <li><a href="">j</a></li>
    <li><a href="">k</a></li>
    <li><a href="">l</a></li>
    <li><a href="">m</a></li>
    <li><a href="">n</a></li>
    <li><a href="">o</a></li>
    <li><a href="">p</a></li>
    <li><a href="">q</a></li>
    <li><a href="">r</a></li>
    <li><a href="">s</a></li>
    <li><a href="">t</a></li>
    <li><a href="">u</a></li>
    <li><a href="">v</a></li>
    <li><a href="">w</a></li>
    <li><a href="">x</a></li>
    <li><a href="">y</a></li>
    <li><a href="">z</a></li>
</ul>
      
<div class="mb30"></div>
      
<div class="people-list">
<div class="row">
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="images/photos/user2.png" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Ray Sin</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Cebu City, Philippines</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="holder.js/110x110.html" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Zaham Sindilmaca</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Cebu City, Philippines</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="holder.js/110x110.html" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Venro Leonga</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Bangcok, Thailand</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> CEO at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="images/photos/user3.png" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Weno Carasbong</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Riyadh, Saudi Arabia</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Software Analyst at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="images/photos/user4.png" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Christopher Atam</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Sydney, Australia</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Web Developer at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="images/photos/user5.png" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Nusja Nawancali</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Phuket, Thailand</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Product Manager at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="holder.js/110x110.html" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Dyanne Cerona</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Manila, Philippines</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Executive Manager at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="holder.js/110x110.html" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Sephjo Bykir Dulaaven</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Paris, France</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Vice President at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="holder.js/110x110.html" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Ray Sin</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Cebu City, Philippines</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="holder.js/110x110.html" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Zaham Sindilmaca</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Cebu City, Philippines</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Software Engineer at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="holder.js/110x110.html" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Venro Leonga</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Bangcok, Thailand</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> CEO at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="holder.js/110x110.html" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Weno Carasbong</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Riyadh, Saudi Arabia</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Software Analyst at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="holder.js/110x110.html" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Christopher Atam</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Sydney, Australia</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Web Developer at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="holder.js/110x110.html" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Nusja Nawancali</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Phuket, Thailand</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Product Manager at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="holder.js/110x110.html" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Dyanne Cerona</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Manila, Philippines</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Executive Manager at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
<div class="col-md-6">
    <div class="people-item">
        <div class="media">
            <a href="#" class="pull-left">
                <img alt="" src="holder.js/110x110.html" class="thumbnail media-object">
            </a>
            <div class="media-body">
                <h4 class="person-name">Sephjo Bykir Dulaaven</h4>
                <div class="text-muted"><i class="fa fa-map-marker"></i> Paris, France</div>
                <div class="text-muted"><i class="fa fa-briefcase"></i> Vice President at <a href="">SomeCompany, Inc.</a></div>
                <ul class="social-list">
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="tooltips" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- col-md-6 -->
          
</div><!-- row -->
</div><!-- people-list -->
      
</div><!-- contentpanel -->
<script src="~/js/holder.js"></script>


<script>
    jQuery(window).load(function(){
    
        "use strict";
  
        var container = document.querySelector('#bloglist');
        var msnry = new Masonry( container, {
            // options
            columnWidth: '.col-xs-6',
            itemSelector: '.col-xs-6'
        });
  
    });
</script>

